/* Variables */
$main-background-color: #222831;
$navbar-menu-color: #131313;

$main-text-color: #fff;
$accent-text-color: #37B5B6;

$logo-color-1: #FF9300;
$logo-color-2: #FFB200;
$logo-color-3: #FFFBD4;

$navbar-height: 80px;
$navbar-menu-height: 50vh;

$header-height: 70px;