.video__container {
    width: 100vw;
    height: 100vh;
    background-color: green;
}

.return_btn {
    display: flex;
    position: fixed;
    bottom: 10px;
    left: 10px;
    z-index: 10;
    border: 2px solid black;
    border-radius: 5px;
    font-size: 20px;
  }
